
@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

.btn {
  font-size: 28px;
}

#game {
  background-color: chocolate;
  
}

#meta {
  width: 500px;
  font-family: monospace;
  font-size: 40px;
  margin: 0 auto;
  vertical-align: top; 
  margin: 10px;
}
