
@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

.btn {
  font-size: 28px;
}

#game {
  background-color: chocolate;
}

#meta {
  font-family: monospace;
  font-size: 72px;
  
  vertical-align: top; 
  margin: 10px;
}